Repository InsaLan/langate3000, pull requests merged in 2024-10, with the labels that each got.

#12 Documentation
  .github/workflows/manual.yaml
  README.md
  docs/manuel/.gitignore
  docs/manuel/book.toml
  docs/manuel/src/00-backend/README.md
  docs/manuel/src/00-backend/modeles.md
  docs/manuel/src/00-backend/netcontrol.md
  docs/manuel/src/00-backend/urls.md
  docs/manuel/src/00-backend/vues.md
  docs/manuel/src/01-frontend/README.md
  docs/manuel/src/01-frontend/gestion.md
  docs/manuel/src/01-frontend/style.md
  docs/manuel/src/01-frontend/vues.md
  docs/manuel/src/README.md
  docs/manuel/src/SUMMARY.md
Labels: documentation

#27 Add arp netcontrol methods
  netcontrol/arp.py
  netcontrol/main.py
  netcontrol/nft.py
Labels: enhancement, Netcontrol

#32 Add nftables methods to netcontrol
  .env.dist
  docker-compose-beta.yml
  docker-compose.yml
  docs/manuel/src/00-netcontrol/README.md
  docs/manuel/src/00-netcontrol/nftables.md
  netcontrol/main.py
  netcontrol/nft.py
  netcontrol/variables.py
Labels: enhancement, priority: emergency, Netcontrol
